body > h1:nth-of-type(1) {
  cursor: pointer;
}

body {
  --title-bar-height: 42px;
  padding-top: var(--title-bar-height);
  color: #eee;
  width: 100%;
  height: 100vh;
  padding: 3.5rem 10px;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#bar {
  background: #373c48;
  backdrop-filter: blur(64px);
  -webkit-app-region: drag;
  height: var(--title-bar-height);
  padding: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  white-space: nowrap;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
}
.hidden {
  display: none !important;
}
pear-ctrl[data-platform="darwin"] {
  margin-top: 18px;
  margin-left: 12px;
}

#account--form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
#account--form form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
button {
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 10px;
}
button:focus,
input:focus {
  outline: none;
  border: 0;
}
button:hover {
  background-color: #ddd;
}
input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 0;
}
.notification {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 22px;
  z-index: 999;
  background-color: #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green {
  border-top: 2px solid green;
}
.red {
  border-top: 2px solid red;
}
.linkBtn {
  background-color: transparent;
  color: #eee;
  text-decoration: underline;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.linkBtn:hover {
  background-color: transparent;
  color: #ddd;
}
.user-info h1 {
  font-size: 1rem;
}
.user-info p {
  font-size: 12px;
}
.top--div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
.middle--div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.userHistory {
  height: 100%;
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
}
.roomBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  background-color: #242831;
  border-radius: 10px;
  border: 0.5px solid #575f71;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.roomBox button,
.roomBox input {
  border-radius: 5px;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#join-create-cardBtn {
  width: fit-content;
  align-self: flex-end;
  padding: 0.4rem 1.2rem;
}
li {
  font-size: 12px;
  cursor: pointer;
  list-style-type: none;
  background-color: #242831;
  border: 0.5px solid #444;
  border-radius: 6px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.backShadow {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #24283195;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.li-key {
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}
li button {
  border: 0.5px solid #777;
  color: #ddd;
  font-weight: 700;
  background-color: #373c48;
}
li button:focus {
  border: 0.5px solid #777;
}
li button:hover {
  background-color: #3a414a;
}
.eachKeyDetailBox {
  position: fixed;
  z-index: 105;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #373c48;
  border: 0.5px solid #666;
  border-radius: 10px;
  font-size: 14px;
}
.timestamp {
  font-size: 10px;
  color: #a1a6b3;
}
.blob1 {
  z-index: -1;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  width: 500px;
  height: 200px;
  position: fixed;
  bottom: -10%;
  right: 0;
  filter: blur(100px);
}
.createdRooms,
.joinedRooms {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 30px;
}
.createdRooms::-webkit-scrollbar,
.joinedRooms::-webkit-scrollbar {
  width: 5px;
}
.createdRooms::-webkit-scrollbar-track,
.joinedRooms::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #203a43;
  border-radius: 10px;
}
.createdRooms::-webkit-scrollbar-thumb,
.joinedRooms::-webkit-scrollbar-thumb {
  background: #575f71;
  border-radius: 10px;
}
.createdRooms::-webkit-scrollbar-thumb:hover,
.joinedRooms::-webkit-scrollbar-thumb:hover {
  background: #7a859f;
}
.shareClipForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c5364;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid #666;
}
.shareClip--button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.messages {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  overflow: hidden;
}
.messagesList {
  height: 100%;
  overflow-y: scroll;
}
.messageInputBox {
  display: flex;
  flex-direction: row;
  width: 50%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background: #2c5364;
  border-radius: 10px;
  border: 0.5px solid #666;
  gap: 5px;
}
